<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>736464882059-7j5qc6lh1i66f1693cpablno6unni5uc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.736464882059-7j5qc6lh1i66f1693cpablno6unni5uc</string>
	<key>API_KEY</key>
	<string>AIzaSyC6jnBBl15Xom-sNV9lPrxTnwTQFVaFEWY</string>
	<key>GCM_SENDER_ID</key>
	<string>736464882059</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseLogin</string>
	<key>PROJECT_ID</key>
	<string>login-getx-29ea9</string>
	<key>STORAGE_BUCKET</key>
	<string>login-getx-29ea9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:736464882059:ios:b8b5ad50e2f1de4eb6c78e</string>
</dict>
</plist>